In [53]:
import pandas as pd
import seaborn as sns
import os
os.chdir(r'C:\Users\user\Desktop\전처리및EDA학습자료\dataset\part-1.-데이터-핸들링\1. 데이터 핸들링\데이터')

In [32]:
os.getcwd()

'C:\\Python'

In [33]:
pd.read_csv('2019년_시간대별_상품판매량.csv')

            ��¥  ��ǰ1  ��ǰ2  ��ǰ3
0    2019-01-01    48    48    50
1    2019-01-02    48    44    49
2    2019-01-03    48    54    50
3    2019-01-04    53    42    48
4    2019-01-05    46    42    50
..          ...   ...   ...   ...
360  2019-12-27    51    56    53
361  2019-12-28    54    50    53
362  2019-12-29    57    49    46
363  2019-12-30    45    58    48
364  2019-12-31    50    41    47

[365 rows x 4 columns]

In [43]:
df = pd.read_csv('test.csv')
df

             날짜  상품1  상품2  상품3
0    2019-01-01   48   48   50
1    2019-01-02   48   44   49
2    2019-01-03   48   54   50
3    2019-01-04   53   42   48
4    2019-01-05   46   42   50
..          ...  ...  ...  ...
360  2019-12-27   51   56   53
361  2019-12-28   54   50   53
362  2019-12-29   57   49   46
363  2019-12-30   45   58   48
364  2019-12-31   50   41   47

[365 rows x 4 columns]

In [44]:
os.listdir()

['.ipynb_checkpoints',
 '2019년_시간대별_상품판매량.csv',
 'books.db',
 'chromedriver_win32',
 'dp.html',
 'full_book_list.html',
 'Hello World.txt',
 'jupyter_lab.bat',
 'mymodule',
 'myprint.ipynb',
 'myprint.py',
 'pj_data_전국',
 'Python 프로그래밍 이해 실습자료_20210313',
 'Python실습',
 'Python외부데이터 수집정제(코드_데이터)-20210712T070007Z-001',
 'rss.xml',
 'Seaborn 시각화.ipynb',
 'selenuium',
 'sqliteDB',
 'test.csv',
 'top_ciaties.csv',
 'top_cities',
 'top_cities.csv',
 'top_cities.db',
 'top_cities.json',
 '__pycache__',
 '날씨정보.json',
 '날씨정보.xlsx',
 '날씨정보2.xlsx',
 '연습(2).ipynb',
 '연습.ipynb',
 '전기차',
 '전처리연습.ipynb']

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      365 non-null    object
 1   상품1     365 non-null    int64
 2   상품2     365 non-null    int64
 3   상품3     365 non-null    int64
dtypes: int64(3), object(1)
memory usage: 11.5+ KB

In [57]:
os.chdir(r'C:\Users\user\Desktop\전처리및EDA학습자료\dataset\part-1.-데이터-핸들링\1. 데이터 핸들링\데이터')

In [58]:
os.getcwd()

'C:\\Users\\user\\Desktop\\전처리및EDA학습자료\\dataset\\part-1.-데이터-핸들링\\1. 데이터 핸들링\\데이터'